.idea
.DS_Store
.log
.vs
.vscode
debug
release
ClientDebug
ClientRelease
ServerDebug
ServerRelease
Engine___Win32_OuRead_Release
Engine___Win32_OutRead_Debug
FilterText_StaticLib___Win32_Debug
FilterText_StaticLib___Win32_Release
*.aps 
*.idb 
*.ncp 
*.obj 
*.pch 
*.sbr 
*.tmp 
*.pdb 
*.bsc 
*.ilk 
*.res 
*.ncb 
*.opt 
*.suo 
*.dep
bin/client/data
bin/server/database
bin/server/databasetong
bin/server/databasetongmember
bin/server/dbfriend
bin/server/TongDB
bin/server/TongMemberDB
bin/server/payserver_log
bin/server/relayserver_log
bin/server/replay_log
